<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
	<hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>
	  The idea is that a group of robots will gather at the central loading hub where it will be loaded with items to be delivered along with the coordinates it needs to reach.
	</p>
	<p>
	  The movement of the robot from the time it leaves the loading hub to the time it completes its task can be monitored as it will have a gsm module.
	</p>
	<p>
	  The robot uses GPS, sensors and cameras to travel on sidewalks  and can make it up and down curbs and small stairs. It will stop when there is an obstacle or pedestrian in its path. When operational the the robots would be based at a local hub where items are placed in them before a customer orders the delivery.
	</p>
	<p>
	  A mobile app shows the progress of the delivery, with the same app used to unlock the robot’s lid. If anything goes wrong enroute, a human operator can take over the controls.
	</p>
      </div>
    </div>
  </div>
</section>
