<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
	<hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>
	  The idea involves a (group of) robot(s) that will gather at the central loading hub where the lockers will be loaded with shopping parcels that have to be delivered.
	</p>
	<p>
	  When a person desires that a delivery be performed, he/she uses a mobile application or website indicating he/she expects delivery at a certain location (within the apartment, university campus, IT park etc).
	</p>
	<p>
	  The delivery robot performs the delivery of the parcel to the person from the locker region.
	</p>
	<p>
	  A mobile application shows the progress of the delivery. The same application is used to authenticate the person to receive the parcel from the robot.
	</p>
	<p>
	  The delivery robot will have the features of an autonomous robot such as <em>obstacle avoiding, future path planning, simultaneous localization and mapping (SLAM), computer vision</em> for handling parcels of different shapes and sizes as well as for identifying the person the parcel is indended for.
	</p>
	<p>
	  The robot uses <strong>GPS</strong> and <strong>SLAM</strong> for localization. It uses <strong>BlueTooth, WiFi or NFC</strong> for communication with external machines such as elevators. It uses <strong>radar</strong> for sensing distances to the obstacles around it. A <strong>camera</strong> with a <strong>stepper motor arrangement</strong> is used to take pictures fed into computer vision programs to gauge the distances to obstacles, form factor of obstacles, edges of parcels, identifying the intended receiver of the parcel etc. The robot has an on-board Single Board Computer device for decison making. A microcontroller such as the Arduino Mega, is used to interface the sensors to the Single Board Computer.
	</p>
	<p>
	  The robot uses learning algorithms to improve path planning.
	</p>
	<p>
	  The otherwise completely autonomous robot, can be monitored as it will always be connected to the Internet through WiFi, if available or through GSM using which it optionally uploads real-time logs to a central server.
	</p>
      </div>
    </div>
  </div>
</section>
