<section id="assumptions">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Assumptions</h2>
	<hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
	<ul>
	  <li>
	    To make an efficient, autonomous machine that replaces the job of a courier boy in multistorey buildings.
	  </li>
	  <li>
	    Riderless balancing of the machine.
	  </li>
	  <li>
	    A motorised drive arrangement.
	  </li>
	  <li>
	    Like driverless cars, the delivery robots use cameras, GPS and radar to "see" their urban environment and navigate through it.
	  </li>
	  <li>
	    A sensor module for generating signals to control the machine.
	  </li>
	  <li>
	    A controller for commanding  the arrangement.
	  </li>
	  <li>
	    End to end safe delivery of product.
	  </li>
	</ul>
      </div>
    </div>
  </div>
</section>
