<section id="assumptions">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Assumptions</h2>
	<hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
	<ul>
	  <li>
	    The buildings in the campus have elevators which can communicate with the delivery robot through BlueTooth, WiFi or NFC. This is because the mechanical structure for climbing up or down staircases carrying parcels has to be carefully designed and is a separate project in itself.
	  </li>
	  <li>
	    The terrain isn't very uneven, as the delivery robot is not intended to be an all-terrain ground vehicle. Even small tasks such as moving from roads to slightly elevated pavements or side walks require a sophisticated mechanical arrangement.
	  </li>
	  <li>
	    People are kind to the delivery robot.
	  </li>
	</ul>
      </div>
    </div>
  </div>
</section>
