<section id="hardware-requirements">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Hardware Requirements</h2>
	<hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
	<ul>
	  <li>
	    Connectivity with other machines like Lifts, lockers etc using BT/ WiFi/ NFC
	  </li>
	  <li>
	    Ultrasonic sensors x (6-8)
	  </li>
	  <li>
	    Location using GPS and SLAM
	  </li>
	  <li>
	    Camera with stepper motor arrangement.
	  </li>
	  <li>
	    Motors, Drivers
	  </li>
	  <li>
	    Arduino, Raspberry pi
	  </li>
	</ul>
      </div>
    </div>
  </div>
</section>
