<section id="hardware-requirements">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Hardware Requirements</h2>
	<hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
	<ul>
	  <li>
	    <strong>Raspberry PI 3B</strong> - single board computer to run the mathematical calculations
	  </li>
	  <li>
	    <strong>Arduino Mega</strong> - microcontroller board to interface the sensors with the single board computer
	  </li>
	  <li>
	    <strong>Ultrasonic Sensors <span class="text-muted">( x 8)</span></strong> - measure distances to obstacles
	  </li>
	  <li>
	    <strong>PiCamera</strong> - camera module for the Raspberry PI. Used for face identification, feature recognition, path planning etc.
	  </li>
	  <li>
	    <strong>Stepper <span class="text-muted">( x 5)</span> and Servo Motors <span class="text-muted">( x 4)</span></strong> - to control orientation of camera and arms
	  </li>
	  <li>
	    <strong>High Torque Motors <span class="text-muted">( x 2)</span></strong> - to run the delivery bot
	  </li>
	  <li>
	    <strong>Motor Driver IC L298N</strong> - to drive the motors as desired 
	  </li>
	  <li>
	    <strong>ABS Plastic</strong> - to build the body and arms of the bot
	  </li>
	</ul>
      </div>
    </div>
  </div>
</section>
