<section id="hardware-requirements">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Hardware Requirements</h2>
	<hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
	<ul>
	  <li>
	    <strong>Raspberry PI 3B</strong> - single board computer to run the mathematical calculations <span class="text-cost">(INR 2750)</span>
	  </li>
	  <li>
	    <strong>Arduino Mega</strong> - microcontroller board to interface the sensors with the single board computer <span class="text-cost">(INR 750)</span>
	  </li>
	  <li>
	    <strong>Ultrasonic Sensors <span class="text-muted">( x 8)</span></strong> - measure distances to obstacles <span class="text-cost">(INR 300 per sensor)</span>
	  </li>
	  <li>
	    <strong>NFC Module</strong> - 13.56MHz near field communication with other machines like lifts, lockers etc. <span class="text-cost">(INR 2690)</span>
	  </li>
	  <li>
	    <strong>PiCamera</strong> - camera module for the Raspberry PI. Used for face identification, feature recognition, path planning etc. <span class="text-cost">(INR 1300)</span>
	  </li>
	  <li>
	    <strong>Stepper <span class="text-muted">( x 5)</span> and Servo Motors <span class="text-muted">( x 4)</span></strong> - to control orientation of camera and arms <span class="text-cost">(Servo Motors - INR 450 each, Stepper Motors - INR 250 each)</span>
	  </li>
	  <li>
	    <strong>High Torque Motors <span class="text-muted">( x 2)</span></strong> - to run the delivery bot <span class="text-cost">(INR 500 per motor)</span>
	  </li>
	  <li>
	    <strong>Motor Driver IC L298N</strong> - to drive the motors as desired <span class="text-cost">(INR 300)</span>
	  </li>
	  <li>
	    <strong>Battery</strong> - to power the robot <span class="text-cost">(INR 450 - Lead Acid, INR 1750 - LiPo)</span>
	  </li>
	  <li>
	    <strong>ABS Plastic</strong> - to build the body and arms of the bot
	  </li>
	</ul>

	<hr class="star-primary">

	<h3 class="text-center">Total cost estimate: INR 15,000 - INR 16,000</h3>
      </div>
    </div>
  </div>
</section>
