<section id="motivation">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Motivation</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
	<p>
	  The last mile of an e-commerce shopping parcel delivery is the most cumbersome part of the delivery for both the person delivering the parcel and the person receiving it.
	</p>
	<p>
	  The person performing the delivery has to go from house to house, get out of the van at each house, knock doors and wait for a physical acknowledgement all the while maintaining communication with the person the parcel has to be delivered to.
	</p>
	<p>
	  The person receiving the parcel has to be available at his/her home/office and go through the hassle of navigating the delivery person through cellular communication.
	</p>
	<p>
	  The latest conveniences (for both the delivery person and the person receiving the delivery) in this regard are companies that offer lockers into which parcels are placed even when they are not at home/office.
	</p>
	<p>
	  The person to whom the delivery is intended has access to the locker till he/she picks up his/her parcel from it at his/her convenience.
	</p>
	<p>
	  To make this process more effective, especially in apartments, university campuses, IT parks etc, we propose to build a delivery robot that performs the delivery of the package from these lockers (installed locally) to the person the package is intended at his/her convenient time.
	</p>
	<p>
	  This results in a delivery-system that is convenient, while being close to the conventional doorstep delivery-system.
	</p>
      </div>
      <div class="col-lg-12 text-center">
        <h3>Problem Statement</h3>
        <hr class="star-light">
	<p>
	  To make an efficient, autonomous physical robot that replaces the job of a courier boy in large campuses.
	</p>
      </div>
    </div>
  </div>
</section>
