<section id="objectives">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Objectives</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
	<ul>
	  <li>
	    To make an efficient, autonomous machine that replaces the job of a courier boy in large campuses.
	  </li>
	  <li>
	    The delivery robot should be able to gain information about the environment.
	  </li>
	  <li>
	    Physical autonomy - the robot should be able to take care of itself.
	  </li>
	  <li>
	    Exteroception - the delivery bot should be able to make use of the attached functional sensors to improve it's performance in a task.
	  </li>
	  <li>
	    Autonomous optimal navigation from the locker region to the co-ordinates of the person and back.
	  </li>
	  <li>
	    End to end safe delivery of product.
	  </li>
	</ul>
      </div>
    </div>
  </div>
</section>
