<section class="success" id="problem-statement">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Problem Statement</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p>Often when we place an order online on any online shopping website we expect our delivery not only to be fast but also adhered to our convenience.</p>
        <p>The current system which involves a human physically delivering the product from the manufacturer (wherehouse) to the customer is often inefficient.</p>
        <p>
	  The last mile is the most cumbersome and expensive part of delivery, especially in suburbs when drivers go from house to house, getting out of the van, knocking on doors and waiting for a physical acknowledgement.
	</p>
	<p>
	  The proposed system explains a smart moving bot that stores the needed package and safely delivers a package  to the customer. This way we reduce the workload and make the last mile of delivery significantly efficient compared to the current.
	</p>
      </div>
    </div>
  </div>
</section>
