<section id="time-line">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
	<h2>Project Timeline</h2>
	<hr class="star-light">
      </div>
    </div>
    <ul class="timeline">
      <li>
        <div class="timeline-badge">March 2017</div>
        <div class="timeline-panel">
          <div class="timeline-body">
            <ul>
	      <li>
		Designing
	      </li>
	      <li>
		Working with Sensors
	      </li>
	    </ul>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-badge warning">April 2017</div>
        <div class="timeline-panel">
          <div class="timeline-body">
            <ul>
	      <li>
		Interfacing
	      </li>
	      <li>
		Adding AI
	      </li>
	    </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
