<section id="time-line">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
	<h2>Project Timeline</h2>
	<hr class="star-light">
      </div>
    </div>
    <ul class="timeline">
      <li>
        <div class="timeline-badge">March 2017</div>
        <div class="timeline-panel">
          <div class="timeline-body">
            <ul>
	      <li>
		Designing the structure of the robot
	      </li>
	      <li>
		Deciding on the form-factor and mechanics
	      </li>
	      <li>
		Environment sensing using ultrasonic sensors
	      </li>
	      <li>
		Establish communication with elevators and lockers using BlueTooth/WiFi/NFC
	      </li>
	      <li>
		Control elevators and lockers
	      </li>
	    </ul>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-badge">April 2017</div>
        <div class="timeline-panel">
          <div class="timeline-body">
            <ul>
	      <li>
		Implement SLAM using ultrasonic data
	      </li>
	      <li>
		Implement path planning and end-to-end navigation
	      </li>
	      <li>
		Add autonomy - move around obstacles
	      </li>
	      <li>
		Authentication between delivery robot and locker
	      </li>
	    </ul>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-badge">May 2017</div>
        <div class="timeline-panel">
          <div class="timeline-body">
            <ul>
	      <li>
		Use OpenCV for face detection and person identification
	      </li>
	      <li>
		Use OpenCV to gauge the parcel size and shape
	      </li>
	      <li>
		Design robotic arms capable of holding the parcel
	      </li>
	    </ul>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-badge">June 2017</div>
        <div class="timeline-panel">
          <div class="timeline-body">
            <ul>
	      <li>
		Design mechanics for picking a parcel up from a locker (human imitating robot design)
	      </li>
	      <li>
		Design on-board containers for parcels
	      </li>
	      <li>
		Design mechanics to place and pick a parcel up from an on-board container 
	      </li>
	    </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
